#project-banner{
    min-width: 100vw;
    padding: 10px;
    background-color: #FFF7F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1E1F24;
    gap: 10px;
}
#project-details{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap: 20px;
}
#user-details{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

#user-image{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
}

#iframe-screen{
   width: 90%;
    min-height: 700px;
    border-radius: 20px;
}
#site-link{
    text-decoration: none;
    color: #1E1F24;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#project-highlights{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding-left: 20px;
    background-color: #FFF7F5;
    min-width:98vw;
    padding-right: 10px;
}
#project-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#project-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bi-arrow-right-circle-fill{
    font-size: 40px;
}
.bi-chat-dots{
    font-size: 40px;
}
